body {
    font-family: Helvetica, 'Times New Roman', Times, serif;
    background-color: #f3f4f6;
}

.accordion {
    width: 800px;
    margin: 90px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
}

.accordion .container {
    position: relative;
    margin: 10px 10px;
  }
  
  /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
  
  .accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
  }

  .accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  /* Hides the content (height: 0), decreases font size, justifies text and adds transition */
  
  .accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  /* Adds a horizontal line between the contents */
  
  .accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
  }

  .accordion .container.active .content {
    height: 150px;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }